<h3><%= @author.name() %></h3>
<br>
<h4>Books by this Author:</h4>
<% if @authors_books.any?() %>
  <ul>
    <% @authors_books.each() do |book| %>
      <li><%= book.title() %></li>
    <% end %>
  </ul>
<% end %>
<br>
<h4>Add Books from the Library:</h4>
<% if @books.any?() %>
<form action="/author/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <% @books.each() do |book| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.title() %>
    </label>
  </div>
  <% end %>

  <button type="submit">Add books</button>
</form>
<% end %>

<h4>Delete this Author from the library:</h4>

<form action="/authors/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button id = "delete_author" type="submit">Delete</button>
</form>
